.spacedrive

# To prevent config changes between desktops
# Prevent config changes between desktops
/links/.config/hypr/monitors.conf
/links/.config/BetterDiscord/

/links/.config/gtk-3.0/settings.ini
/links/.config/hypr/conf/colors-hyprland.conf
/links/.config/swaync/colors-swaync.css
/links/.config/tofi/config
/links/.config/waybar/colors-waybar.css
/links/.config/waypaper/config.ini
/links/.config/wlogout/colors-wlogout.css

# Ignore all WPG config, except wp_init.sh if needed
/links/.config/wpg/

/links/.config/xsettingsd/xsettingsd.conf
/links/.gtkrc-2.0
/links/.icons/default/

# Ignore wallpapers
/links/Wallpapers/


