.spacedrive

links/.config/BetterDiscord/
links/.config/wpg
links/Wallpapers/*
!links/Wallpapers/boat.jpg
!links/Wallpapers/default.png
!links/Wallpapers/nightsky_mountain.jpg
!links/Wallpapers/sunset_mountain.jpg
!links/Wallpapers/wolf.jpg
