.spacedrive

links/.config/swaync/colors-swaync.css
links/.config/waybar/colors-waybar.css
links/.config/waypaper/config.ini
links/.config/wlogout/colors-wlogout.css
links/.config/hypr/conf/colors-hyprland.conf
links/.config/hypr/monitors.conf
links/.config/hypr/workspaces.conf
links/.config/tofi/config
links/.gtkrc-2.0
links/.config/rofi/themes/colors-rofi.rasi
links/.config/kitty/colors-kitty.conf
links/.config/rofi/wallust
