/* Font config */
@import "~/dotfiles/links/.config/rofi/themes/global_settings.rasi"

/* note: Main themes in ~/.config/rofi/themes */
/* You can manually change here or you can use rofi theme selector SUPER SHIFT E */



